<div class="add-game-container">
  <h3>Añadir a mi biblioteca</h3>

  <div class="form-row">
    <input type="text" placeholder="Nombre del juego (Ej. Sekiro)" [(ngModel)]="newGame.title">
    <input type="text" placeholder="Categoría (Ej. Soulslike)" [(ngModel)]="newGame.category">

    <select [(ngModel)]="newGame.progressState">
      <option value="Pendiente">Pendiente</option>
      <option value="Jugando">Jugando</option>
      <option value="Completado">Completado</option>
    </select>
  </div>

  <div class="form-row">
    <input type="text" placeholder="Breve descripción" [(ngModel)]="newGame.description" class="full-width">
  </div>

  <button (click)="onAddGame()" class="btn-save">Guardar Juego</button>
</div>

<hr class="divider">

<div class="catalog-container">
  <h2>Mi biblioteca</h2>

  <div class="search-container" style="margin-bottom: 20px;">
    <input
      type="text"
      placeholder="Buscar por nombre o categoría..."
      [(ngModel)]="searchText"
      style="width: 100%; padding: 12px; border-radius: 6px; border: 1px solid #444; background: #1a1a1a; color: white;"
    >
  </div>
  <div class="games-grid">
    @for (juego of filteredGames; track juego.id) {

    <app-game-card [game]="juego" (deleteGameEvent)="onDeleteGame($event)"></app-game-card>

    } @empty {
      <p style="color: #aaa;">No se encontraron juegos...</p>
    }
  </div>
</div>
